<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Dashboard Commercial</b>
    </div>
    <strong>Copyright &copy; 2015 <a href="http://www.tunisietelecom.tn/">Tunisie Télécom</a></strong>
</footer>

</div><!-- ./wrapper -->