
{% extends 'SuiviVenteBundle::layout.html.twig' %}
{% block body %}

<title>Suivi Vente | Dashboard</title>

{% include 'SuiviVenteBundle::header.html.twig' %}
{% include 'SuiviVenteBundle::colonne-gauche.html.twig' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
      <section class="content-header">
          <h1>
          Gestion Utilisateur

          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Gestion Utilisateur</li>
            <li class="active">Ajouter</li>
          </ol>
        </section>
        <section class="content">
        <div class="row">
        <!-- Content Header (Page header) -->
        <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Ajout Utilisateur</h3>
                </div>

          {% block fos_user_content %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        {% endblock fos_user_content %}
          <!-- Info boxes -->
       </section>
       </div>
 	  </div>
 	  </div>

</div>

            
              
 {% include 'SuiviVenteBundle::footer.html.twig' %}



{% endblock %}